@font-face {
    font-family: $logofont;
    src: url('./../fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $textfont;
    src: url('./../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}